.button {
	border: 1px solid;
	padding: 10px 20px;
	&.button-primary {
		background-color: $primary-color;
		color: $white;
	}

	&.button-secondary{
		background-color: $secondary-color;
		color: $white;
	}

	&.button-tertiary{
		background-color: $tertiary-color;
		color: $white;
	}
}