
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
  border: 1px solid $secondary-color-600;
  border-radius: 5px;
  font-size: $font-size-base;
  line-height: 1em;
  padding: 14px 10px;
  vertical-align: middle;
  &:focus {
    border: 1px solid $primary-color;
    box-shadow: 0 1px 1px rgba($color: $tertiary-color, $alpha: 0.33) inset, 0 0 8px rgba($color: $tertiary-color, $alpha: 0.88);
  }
  .dark-bg & {
    border: 1px solid $white;
  }
  #primary & {
    border: 1px solid $secondary-color-600;
    border-radius: 5px;
    font-size: $font-size-base;
    line-height: 1em;
    padding: 14px 10px;
    vertical-align: middle;
    height: 50px;
    &:focus {
      border: 1px solid $primary-color;
      box-shadow: 0 1px 1px rgba($color: $tertiary-color, $alpha: 0.33) inset, 0 0 8px rgba($color: $tertiary-color, $alpha: 0.88);
    }
    .dark-bg & {
      border: 1px solid $white;
    }
  }
}

textarea {
  resize: none;
  padding-left: .6em;
  width: 100%;
  #primary & {
    height: auto;
  }
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border-radius: 0;
  border: 1px solid;
  font-family: $secondary-font;
  font-size: $font-size-base;
  letter-spacing: 0.6px;
  line-height: 1.15em;
  padding: 15px 29px;
  vertical-align: middle;
  .newsletter-cta & {
    border-radius: 0 5px 5px 0;
  }
}


/*---- Placeholder ----*/
::-webkit-input-placeholder {
  opacity: 1;
  color: $secondary-color !important;
}
\:-moz-placeholder {
  opacity: 1;
  color: $secondary-color !important;
}
::-moz-placeholder {
  opacity: 1;
  color: $secondary-color !important;
}
\:-ms-input-placeholder {
  opacity: 1;
  color: $secondary-color !important;
}
*::-webkit-input-placeholder {
  opacity: 1;
  color: $secondary-color !important;
}
*:-moz-placeholder {
  opacity: 1;
  color: $secondary-color !important;
}
*:-ms-input-placeholder {
  opacity: 1;
  color: $secondary-color !important;
}

fieldset {
    min-width: 0;
}