
input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
  border: 1px solid;
  border-radius: 5px;
  font-size: $font-size-base;
  line-height: 1em;
  padding: 14px 10px;
  vertical-align: middle;
  .dark-bg & {
    border: 1px solid $white;
  }
}

textarea {
  resize: none;
  padding-left: .6em;
  width: 100%;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border-radius: 0;
  border: 1px solid;
  font-family: $secondary-font;
  font-size: $font-size-base;
  letter-spacing: 0.6px;
  line-height: 1.15em;
  padding: 15px 29px;
  vertical-align: middle;
  .newsletter-cta & {
    border-radius: 0 5px 5px 0;
  }
}


/*---- Placeholder ----*/
::-webkit-input-placeholder {
  opacity: 1;
}
\:-moz-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
\:-ms-input-placeholder {
  opacity: 1;
}
*::-webkit-input-placeholder {
  opacity: 1;
}
*:-moz-placeholder {
  opacity: 1;
}
*:-ms-input-placeholder {
  opacity: 1;
}

fieldset {
    min-width: 0;
}