.nav-links {
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
  padding-top: 45px;

  .page-numbers {
    border-radius: 5px;
    border: 2px solid $secondary-color;
    color: $secondary-color;
    display: inline-block;
    font-size: $font-size-large;
    height: 35px;
    line-height: 1.7em;
    margin: 0 3px;
    min-width: 95px;
    @include transition-all;

    i {
      display: inline-block;
      vertical-align: middle;
      position: relative;
    }

    &:hover,
    &.current {
      background-color: $secondary-color;
      color: #fff;
    }

    &.prev,
    &.next {
      background-color: transparent;
      border: none;
      color: $secondary-color;
      height: auto;
      width: auto;
      min-width: 35px;
      &:hover {
        color: $tertiary-color;
      }
    }
  }
}