// Container widths
$container-width: 1690px;
$container-wide-width: 2220px;
$container-narrow-width: 1400px;

// Colors
$primary-color:		#757576;
$secondary-color:	#37383C;
$secondary-color-600:#1B1B1D;
$tertiary-color:	#E49960;

$tertiary-color-100:#FCF4EE;
$tertiary-color-200:#F6E4D8;
$white:				#ffffff;
$black:				#000000;
$gray:				#aeaeae;

// Fonts
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Font Sizes
$font-size-xsmall:	12px;
$font-size-small:	14px;
$font-size-base:	16px;
$font-size-large:	18px;
$font-size-xlarge:	20px;

$font-weight-r: 400;
$font-weight-m: 500;
$font-weight-sb: 600;
$font-weight-b: 700;

// Heading sizes
$font-size-h1: 60px;
$font-size-h2: 35px;
$font-size-h3: 20px;
$font-size-h4: 20px;
$font-size-h5: 20px;
$font-size-h6: 18px;

// Breakpoints
$fhd: 1920px;
$mac: 1440px;
$lt: 1366px;
$ls: 1280px;
$lg: 1199px;
$md: 991px;
$tab: 800px;
$sm: 767px;
$mb: 480px;
$ip: 420px;
$xs: 350px;

// Navigation config
$responsive-toggle-breakpoint: $lg;
$toggle-menu-height: 20px;
$toggle-menu-width: 25px;
$toggle-menu-bar-height: 3px;
$toggle-menu-bar-color: $primary-color;
$toggle-menu-bar-active-color: transparent;