.hero-section {
    position: relative;
    .the-title {
        font-size: $font-size-h1;
    }
    .the-title,
    .title-label {
        color: $white;
    }
    .hero-partners-wrapper {
        position: relative;
        overflow: hidden;
        margin-top: 10px;
        padding-bottom: 26px;
        padding-top: 23px;
        &:after {
            background-color: rgba($color: $tertiary-color-100, $alpha: 0.29);
            bottom: 0;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 0;
        }
        .hero-partners-inner {
            position: relative;
            z-index: 1;
            max-width: 520px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        .hero-partners-wrap {
            padding: 15px 2px 20px;
        }


    }
    .partners-logos-item {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
        
    }
    .our-partners-list-slider {
        margin-left: -15px;
    }
    .partners-logos-item-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 15px;
        padding-right: 15px;
    }
    .hero-label-link-wrapper {
        display: flex;
        justify-content: space-between;
        padding-right: 15px;
    }
    .hero-partners-link {
        padding-bottom: 3px;
    }
}
.hero-section-image-wrap {
    min-height: 840px;
    padding-left: 80px;
    padding-top: 80px;
}
.hero-section-image-wrap-inner {
    height: 100%;
    position: relative;
}
.image-description-items-wrapper {
    bottom: 0;
    left: 0;
    max-width: 1202px;
    padding-bottom: 290px;
    padding-left: 12.8vw;
    padding-top: 153px;
    padding-right: 50px;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    .image-description-items {
        position: relative;
    }
    .hero-description-item {
        font-size: $font-size-base;
        position: absolute;
        top: 0;
        &:first-child {
            left: 0;
            top: 48px;
        }
        &:nth-child(2) {
            left: 15%;
            top: 163px;
        }
        &:nth-child(3) {
            right: 20.3%;
            top: 158px;
        }
        &:nth-child(4) {
            right: 0;
        }
        .hero-icon {
            align-items: center;
            background-color: rgba($color: $white, $alpha: 0.3);
            border-radius: 50%;
            border: 2px solid $white;
            cursor: pointer;
            display: flex;
            height: 63px;
            justify-content: center;
            text-align: center;
            width: 63px;
            @include transition-all;
            &:hover {
                background-color: rgba($color: $white, $alpha: 1.0);
                .icon {
                    transform: rotate(90deg);
                }
            }
            .icon {
                background-color: $white;
                border-radius: 50%;
                color: $tertiary-color;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: $font-size-small;
                height: 47px;
                text-align: center;
                @include transition-all;
                transform: rotate(0);
                width: 47px;
            }
        }
    }
    .hero-text-description {
        display: none;
        border-radius: 5px;
        background-color: $white;
        padding: 15px;
        position: absolute;
        top: 65px;
        width: 250px;
        text-align: center;
        left: -90px;
        p {
            margin: 0;
        }
    }
    
}
.hero-title-partners {
    padding-top: 20px;
    padding-left: 46px;
    .the-title {
        margin-bottom: 0.15em;
        margin-top: 0.15em;
        letter-spacing: 1.2px;
        max-width: 85%;
    }
}
.history-section-timeline-image {
    > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        width: 100%;
    }
}