.two-column-section {
    padding: 75px 0;
    
}
.main-content-section {
    padding-top: 35px;
    .contact-icon-position & {
        strong {
            display: block;
        }
        i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
        }
    }
}